<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo">
      <mat-icon>contacts</mat-icon>
      Annuaire
    </span>

    <span class="spacer"></span>

    <mat-icon>home</mat-icon>
      <button mat-button 
      routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">Home</button>

    <mat-icon>list</mat-icon>
      <button mat-button
      routerLink="./lister-personne" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">Liste</button>

    <mat-icon>person_add</mat-icon>
      <button mat-button
      routerLink="./ajouter-personne"
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">Ajouter</button>

  </mat-toolbar-row>
</mat-toolbar>

<main class="main-content">
  <router-outlet></router-outlet>
</main>